@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: 'Space Grotesk', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.dark {
  --text-color: rgba(245, 240, 240, 0.87); /* Dark text (light theme) */
  --background-color: #ffffff; /* Light background (light theme) */
}

body {
  color: var(--text-color, rgba(255, 255, 255, 0.87)); /* Fallback to dark theme text */
  background-color: var(--background-color, #242424); /* Fallback to dark theme background */
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #2ecc40;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* Parent container for MapComponent and ViewAnalytics */

.content-container {
  margin-top: 80px;
  padding-left: 20vw;
  width: 80vw; 
  display: flex; 
  flex-direction: column;
  position: relative; 
}

.view-analytics-container{
  margin-top: 80vh;
  z-index: 2;
  width: 50vw;

}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: rgba(8, 8, 8, 0.87);
    --background-color: #ffffff;
  }
  body {
    color: var(--text-color);
    background-color: var(--background-color);
  }
  a:hover {
    color: #2ecc40;
  }

}
